:root {
    --amarelo-principal: #fddf47;
    --verde-principal: #3F6212;
    --branco-principal: #F8F9FB;
    --cinza-principal: #6E7480;
    --preto-principal: #000000;
    --fonte-principal: "Albert Sans";
}

body {
    background-color: var(--branco-principal);
    font-family: var(--fonte-principal), serif;
    font-size: 14px;
    line-height: 24px;
}

* {
    margin: 0;
    padding: 0;
}

.default-container {
    height: 87vh;
}

.container__presentation {
    background-color: var(--amarelo-principal);
    height: 87vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__left-presentation {
    align-items: start;
    padding-top: 23vh;
    margin-left: 10vw;
    margin-right: 2vw;
    line-height: 40px;
}

#brand-logo {
    padding-bottom: 10vh;
    width: 25%;
}

h1 {
    font-size: 44px;
    font-weight: 800;
    color: var(--verde-principal);
}

.container__presentation-images {
    position: relative;
    background-image: url("./media/Grafismo-de-apoio.png");
    background-size: 415px 630px;
    background-position: right;
    background-repeat: no-repeat;
}

#vector {
    position: absolute;
    margin-top: 80px;
    z-index: 1;
    width: 55%
}

#b88 {
    position: absolute;
    margin-top: 110px;
    margin-left: 20px;
    z-index: 2;
    width: 90%
}

.container__content-1 {
    margin-top: 80px;
}

.container__caixa-content {
    display: grid;
    grid-template-columns: 36% 64%;
}

#renoir {
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.container__content-1-left {
    margin: 0 1em 0 10em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

h2 {
    font-size: 36px;
    font-weight: bold;

}

.main-description {
    color: var(--cinza-principal);
    font-size: 1.3em;
}

.container__content-1-right {
    margin: 0 40em 0 0;
}

h5{
   font-size: 18px;
    font-weight: 500;
}

.subtitles {
    margin: 1em 0;
}

.green-h5 {
    color: var(--verde-principal);
}

.linkedin-icon {
    margin-top: 1em;
    border: 1px solid var(--cinza-principal);
    border-radius: 10%;
    width: 5%;
}

.container__content-2 {
    padding-top: 16em;
    height: 60vh;
}

.container__caixa-content-2 {
    display: grid;
    grid-template-columns: 36% 64%;
}

#pequi-logo {
    width: 2em;
    margin-bottom: 1em;
}

.title-footer {
    color: var(--verde-principal);
    font-weight: bold;
    font-size: 1em;
    margin: 1.5em 0 0 0;
}

.text-footer {
    color: var(--cinza-principal);
}

.container__content-2-left {
    margin: 0 2em 0 10em;
    display: flex;
    flex-direction: column;
}

.icons-footer {
    margin: 2em 0;
    width: 20%;
}